.modal.hide.fade{:id  => 'confirm_import_social'}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3
      = t('.confirm')
  .modal-body
    %p
      = t('.confirm_text')
    %form{:id => 'import_social'}
      #import_social_checkboxes
        .pull-left
          %label.checkbox
            %input{:type => "checkbox", :checked => true, :id => 'import_complete_name'}/
            Complete Name
          %label.checkbox
            %input{:type => "checkbox", :checked => true, :id => 'import_location'}/
            Location
          %label.checkbox
            %input{:type => "checkbox", :checked => true, :id => 'import_web'}/
            Web
        .pull-right
          %label.checkbox
            %input{:type => "checkbox", :checked => true, :id => 'import_bio'}/
            Bio
          %label.checkbox
            %input{:type => "checkbox", :checked => true, :id => 'import_image'}/
            Image
  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"}
      = t('.close')
    %a.btn.btn-primary{:href => "#", :id => 'confirm_import_social_btn', :data => {:provider => 'provider'}}
      = t('.confirm')