#facebook{:class => 'switch switch', :data => {:off => '', :on => 'primary', 'on-label' => "<i class='icon-ok icon-white'></i>", 'off-label' => "<i class='icon-remove'></i>"}}
  - if @has_fb_access_token > 0
    %input{:checked => "checked", :type => "checkbox", :data => {:token => @has_fb_access_token}}
  - else
    %input{:type => "checkbox"} 
Inicia sesión con Facebook
%br
%br
#twitter{:class => 'switch switch', :data => {:off => '', :on => 'primary', 'on-label' => "<i class='icon-ok icon-white'></i>", 'off-label' => "<i class='icon-remove'></i>"}}
  - if @has_tw_access_token > 0
    %input{:checked => "checked", :type => "checkbox", :data => {:token => @has_tw_access_token}}
  - else
    %input{:type => "checkbox"} 
Inicia sesión con Twitter