- if @user == current_user
  %a{:href => edit_user_path(@user)}
    .btn.btn-primary
      = t(:edit)
- else
  - if @am_i_following
    %a{:href => "#"}
      .btn.btn-primary
        = t('.unfollow')
  - else
    %a{:href => "#"}
      .btn.btn-primary
        = t('.follow')
  - if @is_follower
    .btn.btn-primary
      = t('.isfollower')
