- pictureInfo = PicturesController.helpers.getPictureData(user.main_picture, 'card', 'user')
- image_url = pictureInfo[0]
- width = pictureInfo[1]
- height = pictureInfo[2]

- cardStyles = PicturesController.helpers.getCardStyles(browser.mobile?, image_url, width, height)
- card_style = cardStyles[:card_style]
- card_class = cardStyles[:card_class]
- image_style = cardStyles[:image_style]

.card{:style => card_style, :class => card_class}
  %a{:href => user_path(user)}
    .card-image-placeholder{:style => image_style}
  .card-footer.card-footer-masonry
    .media
      .media-body.plm.ptm.pbm.prn
        = user.complete_name
        .sub-paragraph
          = user.location


