.span12
  .masonry_layout.centered
    - for user in @users
      .box
        .thumbnail
          = image_tag user.image.url(:small)
          .caption
            %p
              %a{:href => user_path(user)}
                %i.icon-user
                = user.complete_name
            %p
              %i.icon-map-marker
              = user.location
            .extra-info
              %i.icon-thumbs-up
              = "99 Eventos"
