/ %fb:like{:href => "http://www.ebentum.com", :send => "false", :show_faces => "false", :width => "400"}
.fb-like{"data-href" => "http://www.ebentum.com", "data-show-faces" => "false", "data-width" => "400"}
