/ %fb:like{:class => 'fb-like', :href => "http://www.ebentum.com", :send => "false", :show_faces => "false", :layout => 'button_count'}
.fb-like{"data-href" => "http://www.ebentum.com", "data-show-faces" => "false", "data-layout" => "button_count"}