.row
  .col-xs-12
    %a.btn.btn-block.btn-social.btn-lg.btn-facebook{:href => '/users/facebook_login'}
      %i.fa.fa-facebook
      = t('.sign_in_with')+" Facebook"
.row
  .col-xs-12
    %a.btn.btn-block.btn-social.btn-lg.btn-twitter{:href => '/users/twitter_login'}
      %i.fa.fa-twitter
      = t('.sign_in_with')+" Twitter"