.card.card-inverse
  .card-header
  = render 'comments/new_comment'
  #comments{:data => {:comments_page => 1}}
    %ul.media-list.comment-list{:id => 'event_comments'}
  = render 'comments/confirm_delete'
