.modal.hide.fade{:id  => 'confirm_desappoint'}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3
      = t('.confirm')
  .modal-body
    %p
      = t('.confirm_text')
  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"}
      = t('.close')
    %a.btn.btn-primary{:href => "#", :id => 'confirm_desappoint_btn', :data => {:appointmentid => 0}}
      = t('.confirm')