- url = 'http://www.ebentum.com/events/'+@event.id
.span3
  %fb:like{:layout => "button_count", :send => "false", :show_faces => "false", :width => "450", :data => {:href => url}}
.span3
  %a.twitter-share-button{"data-lang" => "es", :href => "https://twitter.com/share", :data => {:url => url, :via => 'dev_ebentum'}}