- if @fb_access_token
  .row
    %label.control-label.col-sm-4
      = t('.share_activity', :provider => 'Facebook')
    .controls.col-sm-8
      .switch
        - fbPubCheched = false
        - if @fb_access_token.autopublish
          - fbPubChecked = true
        %input#facebook_post{:type => "checkbox", :checked => fbPubChecked, "data-toggle" => "switch"}

- if @tw_access_token
  .row
    %label.control-label.col-sm-4
      = t('.share_activity', :provider => 'Twitter')
    .controls.col-sm-8
      .switch
        - twPubCheched = false
        - if @tw_access_token.autopublish
          - twPubCheched = true
        %input#twitter_post{:type => "checkbox", :checked => twPubCheched, "data-toggle" => "switch"}