- content_for(:modal_header) do
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  = t("share_event")

- if @native_app
  .container
    .row
      .col-xs-12
        .card
          = render 'form'
- else
  = render 'form'
