#new_comment_textarea {
  width: 90%;
}

.thumb_image {
  // height: 4.6em;
  // width: 4.6em;
  width: 60px;
}

textarea.textarea_edit_comment {
  width: 90%;
}

.comment-timeago {
  display: inline;;
}

.comment-list .media .pull-left {
  float: left;
  margin-right: 10px;
}