
// Popup de nuevo evento

#new_event i{
    font-size: 18px;
}

#main_picture_preview {
  height: 170px;
}

.pac-container {
  z-index: 1200 !important;
}

.ui-timepicker-wrapper {
  z-index: 1060;
}

#new_event .thumbnail {
  width: 170px;
}

#map_canvas {
  // width:530px;
  height:200px;
}

#map {
  height: 12em;
}

#event_description{
 min-height: 50px;
 white-space: pre-wrap;
}

#event-info-row{
  padding: 0px;
}

#event_start_date_picker{
  border: 2px solid #bdc3c7;
  border-radius: 6px;
}

.calendar-icon{
  background: #c0392b;
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  border-radius: 4px;
}

.calendar-month{
  color: $inverse;
  font-size: 11px;
}

.calendar-day{
  background: #ecebe8;
  color: #7e7e7e;
  font-weight: 800;
  font-size: 16px;
  margin: 1px 0px 0px 0px;
  padding-top: 5px;
  border-radius: 0 0 4px 4px;
  height: 27px;
}


