@media (min-width: 992px) {
  .welcome1 {
    background-image: url('background/wb1.jpg');
  }

  .welcome2 {
    background-image: url('background/wb2.jpg');
  }

  .welcome3 {
    background-image: url('background/wb3.jpg');
  }

  .welcome4 {
    background-image: url('background/wb4.jpg');
  }

  .welcome5 {
    background-image: url('background/wb5.jpg');
  }

  .welcome-gplay-link{
    margin-top: 8px;
    padding-right: 35px;
  }

  .welcome-title{
    opacity: 0.8;
  }

  .welcome-title-footer{
    margin-top: 30px;
  }
}