.modal.hide.fade{:id  => 'main_picture_delete'}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3
      = t('.confirm')
  .modal-body
    %p
      = t('.confirm_image_delete_text')
  .modal-footer
    %a.btn.btn-danger{:href => "#", :id => 'main_picture_confirm_delete_button'}
      = t('.delete')
    %a.btn{:href => "#", "data-dismiss" => "modal"}
      = t('.cancel')
