  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Bagoaz</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#about">Amigos</a></li>
            <li><a href="#contact">Explorar</a></li>
            <li><a {{action createUser user href=true}}>Registrase</a></li>
          </ul>
          <form class="navbar-search pull-left" action="">
           <input type="text" class="search-query span2" placeholder="Buscar">
         </form>
       </div><!--/.nav-collapse -->
     </div>
   </div>
 </div>