@import "events";
@import "users";

html {
	background: #F7F5F5 url(fondo.png) repeat-x;
}

body {
	padding-bottom: 40px;
	background: #F7F5F5 url(fondo.png) repeat-x;
}

.box {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	background-color: white;
	margin: 5px;
}

.block {
	width: 100%;
}

#omniauth_options{
  max-width: 19.3em;
}

#omniauth_form{
  max-width: 43em;
}

.omniauth_thumbnail {
	width: 10.714em;
	height: 10.714em;
}

.centered {
	margin: 0px auto;
}

.centered_image {
  text-align: center;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}


@media (min-width: 768px) and (max-width: 979px) {
  #devise-container {
    margin-top: 11%;
  }
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #dd5c14;
  *background-color: #dd7a14;
  background-image: -moz-linear-gradient(top, #dd4814, #dd7a14);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4814), to(#dd7a14));
  background-image: -webkit-linear-gradient(top, #dd4814, #dd7a14);
  background-image: -o-linear-gradient(top, #dd4814, #dd7a14);
  background-image: linear-gradient(to bottom, #dd4814, #dd7a14);
  background-repeat: repeat-x;
  border-color: #dd7a14 #dd7a14 #97530e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4814', endColorstr='#ffdd7a14', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #dd7a14;
  *background-color: #c66d12;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #ae6010 \9;
}

.navbar .brand{
  color: #dd5c14;
}

.navbar .nav > li > a {
  color: #16537a;
}

.badge-info {
  color: #ffffff;
  background-color: #dd7a14;
}

.Panel {
  float: left;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(34,25,25,0.5);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
}

.ProfileInfo {
  // height: 165px;
  // width: 698px;
  position: relative;
  color: #534f4f;
  padding: 19px;
  white-space: nowrap;
  overflow: hidden;
}

.ProfileInfo h3{
  font-size: 30px;
}

.ProfileTabs {
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
  text-align: center;
}
