@import "events";

html {
	background: #F7F5F5 url(paper.jpg) repeat;
}

body {
	padding-bottom: 40px;
	background: #F7F5F5 url(paper.jpg) repeat;
}

.box {
	width: 285px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	background-color: white;
	margin: 5px;
}

.block {
	width: 100%;
}

.maxw270{
  max-width: 270px;
}

.maxw600{
  max-width: 600px;
}

.omniauth_thumbnail {
	width: 10.714em;
	height: 10.714em;
}

.centered { 
	margin: 0px auto;
}

.centered_image {
  text-align: center;        
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}