@import "events";

html {
	background: #F7F5F5 url(paper.jpg) repeat;
}

body {
	padding-bottom: 40px;
	background: #F7F5F5 url(paper.jpg) repeat;
}

.box {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	background-color: white;
	margin: 5px;
}

.block {
	width: 100%;
}

#omniauth_options{
  max-width: 19.3em;
}

#omniauth_form{
  max-width: 43em;
}

.omniauth_thumbnail {
	width: 10.714em;
	height: 10.714em;
}

.centered { 
	margin: 0px auto;
}

.centered_image {
  text-align: center;        
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}


@media (min-width: 768px) and (max-width: 979px) {
  #devise-container {
    margin-top: 11%;
  }
}