#imagePreview {
  width: 170px;
  height: 170px;
  float: right;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
  font-size: 160px;
}

.pac-container {
  z-index: 1200 !important;
}

#place_autocomplete {
  width: 92%;
}

#event_start_time {
  width: 84%;
}

#event_start_date {
  width: 84%;
}

#new_event .thumbnail {
  width: 170px;
}

#map_canvas {
  width:530px;
  height:200px;
}

#map {
  height: 12em;
}

.poster {
  margin: 5px;
  max-width: 630px;
  background-color: white;
  float: left;
}

.poster:hover {
  .botones {
    display: block;
  }
}

// .thumbnail {
//   a {
//     color: #8c7e7e;
//     font-weight: bold;
//   }
// }

// .extra-info {
//   background-color: #f2f0f0;
//   margin: 0 -13px -13px -13px;
//   @include border-bottom-radius(4px);
//   padding: 10px 15px;
// }

.botones {
  position: absolute;
  top: 20px;
  display: none;
}

// .thumbnail:hover {
//   .botones {
//     display: block;
//   }
// }