.span12
  .masonry_layout.centered
    - for activity in @activities
      .card
        = image_tag activity.subject.photoUrl
        %h4
          = activity.subject.displayName
        %h4
          = activity.actor.displayName + " " + activity.verb
        .row-fluid.card-footer.event-footer
          .span6.footer-option
            .option-action
              %i.fui-new-24
          .span6.footer-option
            %a{:href => activity.subject.url, :class => "option-action"}
              %i.fui-eye-24

          -# .botones
          -#   %p
          -#     %a.btn{:href => "#"}
          -#       %i.icon-thumbs-up.icon-white
          -#       ¡Unirme!
          -#   %p
          -#     %a{:href => activity.subject.url, :class => "btn"}
          -#       %i.icon-info-sign

          -#       Más información

          -# .caption
          -#   %h5
          -#     = activity.subject.displayName
          -#   %p
          -#     %a{:href => activity.actor.url}
          -#       %i.icon-user
          -#       = activity.actor.displayName
          -#   %p
          -#     %i.icon-calendar
          -#     = l(activity.subject.startDate, :format => :long)+', '+l(activity.subject.startTime, :format => :short)
          -#   %p
          -#     %i.icon-map-marker
          -#     = activity.subject.address
