- if @page == 1
  .col-xs-12
    #activity_list.masonry_layout.centered.invisible
      - if @activities.count == 0
        .card{:style => "max-width: 230px; background-size: 230px 300px; background-color: #fff"}
          .card-image-placeholder{:style => "width: 100%; height: 200px;"}
            %a{:href => "/events/search"}
              %i.fa.fa-compass.card-icon-big
          .card-footer.card-footer-masonry.pts.pbs.plm.prm
            .media
              .media.body.center-text
                = t('.no_activities1')
              .media.body.center-text
                = t('.no_activities2')
      = render 'list'
- else
  = render 'list'