.span12
  .masonry_layout.centered
    - for activity in @activities
      .box
        .thumbnail
          .botones
            %p
              %a.btn{:href => "#"}
                %i.icon-thumbs-up.icon-white
                ¡Unirme!
            %p
              = link_to event_path(activity.subject), :class => "btn" do
                %i.icon-info-sign
                Más información
          = image_tag activity.subject.photo
