- if @page == 1
  .col-xs-12
    #activity_list.masonry_layout.centered
      - if @activities.count == 0
        .card{:style => "max-width: 230px; background-size: 230px 300px; background-color: #fff"}
          .card-header{:style => "background-color: #fff"}
          .card-footer.card-footer-masonry.pts.pbs.plm.prm
            %p
              = t('.no_activities')
      = render 'list'
- else
  = render 'list'