%head
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %meta{:content => "noindex, nofollow, noarchive", :name => "robots"}
    %title ebentum
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
    = csrf_meta_tags