%nav.navbar.navbar-default.navbar-fixed-top{"role" => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"type" => "button", "data-target" => "#nav-collapse-01", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.media{:href => root_url}
        .pull-left.navbar-logo-text
          e
        .pull-left.navbar-logo
          = image_tag('logo/ebentum_38.png', "class" => "media-object" )
        .media-body
          entum
