- og_title = og_title(@og_title)
- og_type  = og_type(@og_type)
- og_url   = og_url(@og_url)
- og_image = og_image(@og_image)
%meta{:content => og_title, :property => "og:title"}
%meta{:content => og_type, :property => "og:type"}
%meta{:content => og_url, :property => "og:url"}
%meta{:content => og_image, :property => "og:image"}
%meta{:content => "ebentum", :property => "og:site_name"}
%meta{:content => ENV['FACEBOOK_APP_ID'], :property => "fb:app_id"}