%meta{:content => "ebentum", :property => "og:title"}
%meta{:content => "website", :property => "og:type"}
%meta{:content => "http://www.ebentum.com", :property => "og:url"}
%meta{:content => "http://www.ebentum.com/images/logo.png", :property => "og:image"}
%meta{:content => "ebentum", :property => "og:site_name"}
%meta{:content => ENV['FACEBOOK_APP_ID'], :property => "fb:app_id"}