%meta{:content => "ebentum", :property => "og:title"}
%meta{:content => "website", :property => "og:type"}
%meta{:content => "http://www.ebentum.com", :property => "og:url"}
/ %meta{:content => "http://profile.ak.fbcdn.net/static-ak/rsrc.php/v2/yL/r/HsTZSDw4avx.gif", :property => "og:image"}
%meta{:content => "ebentum", :property => "og:site_name"}
%meta{:content => "469588653104372", :property => "fb:app_id"}