.span2
  .well
    %ul.nav.nav-list
      %li.nav-header Eventos
      %li.active
        %a{:href => "#"}
          %i.icon-white.icon-home
          Interesantes
      %li
        %a{:href => "#"}
          %i.icon-pencil
          Tuyos
      %li
        %a{:href => "#"}
          %i.icon-user
          De tus amigos
      %li
        %a{:href => "#"}
          %i.icon-cog
          De tu zona
      %li
        %a{:href => "#"}
          %i.icon-cog
          Nuevo